{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul class="animated fadeIn">
        {%- for link in site.data.navigation -%}
          {%- if link.url contains '://' or link.url == '#' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          <li><a href="{{ url }}">{{ link.title }}</a></li>
        {%- endfor -%}
        <!-- Google Translate Widget -->
        <li style="display:flex; align-items:center; padding-left: 15px;">
          <div id="google_translate_element"></div>
        </li>
      </ul>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </nav>
  </div><!-- /.navigation-wrapper -->
{% endif %}
